@{
   ViewBag.Title = "Home Page";
}
<div class="row">
   <div class="col-md-9">
      <div class="product-info">
         <p>Select your Transformer</p>
         <img src="~/img/508201.jpg" />
         <ul class="product-props">
            <li>Name: Megatron</li>
            <li>Mission: Be an awesome Transformer</li>
            <li>Favourite Fuel: Diesel</li>
         </ul>
         <button id="buyButton" class="btn-success">Buy</button>
      </div>

      <div id="theForm">
         <form>
            <label>Username</label>
            <input />
            <br />
            <label>Email</label>
            <input type="email" />
            <br />
            <label>Password</label>
            <input type="password" />
            <br />
            <label>Message:</label>
            <br />
            <textarea rows="4"></textarea>
            <br />
            <input type="submit" value="Send Message" />
         </form>
      </div>

      <div>
         <div id="loginToggle">Login</div>
         <form class="popup-form">
            <div>
               <label>Username</label>
               <input />
            </div>
            <div>
               <label>Password</label>
               <input type="password" />
            </div>
            <div>
               <input type="checkbox" />
               <label>Remember Me?</label>
            </div>
            <div>
               <input type="submit" value="Login" />
            </div>
         </form>
      </div>
   </div>
   <div class="col-md-3">
      <p>This is a cool site to purchase different types of Transformers.</p>
   </div>
</div>